@media screen and (max-width: 956px) {
    /*Úvodní info*/
    div.main-info{
        width: 100%;
    }
    div.main-info-inner {
        display: flex;
        flex-direction: column;
    }
    div.main-info-inner div {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    div.main-info-inner div img {
        width: fit-content;
    }
    /*Cenová kalkulačka*/
    div.price-calc {
        width: 100%;
    }
    div.price-calc-inner-i {
        display: flex;
        flex-direction: column;
    }
    div.price-calc-inner-i div {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    div.price-calc-inner-i div img {
        width: fit-content;
    }
    /*Footer*/
    .footer-inner{
        margin: 0 25px;
    }
}
@media screen and (max-width: 880px){
    * {
        max-width: 880px;
    }
    /*Služby*/
    .services{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 0;
    }
    .services-inner{
        width: 45%;
    }
    .services-info{
        height: 230px;
    }
    .s-i-1{
        margin-right: 10px;
        margin-bottom: 20px;
    }
    .s-i-2{
        margin-left: 10px;
        margin-bottom: 20px;
    }
    /*Kontakt*/
    .contact-main{
        display: flex;
        height: fit-content;
        padding-bottom: 25px;
    }
    .contact-main-inner{
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    .contact-main-inner div{
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
}
@media screen and (max-width: 600px){
    /*Navigace*/
    .nav-main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nav-div{
        justify-content: center;
    }
    .nav-div ul{
        display: flex;
        align-items: center;
    }
    /*Služby*/
    .services-inner{
        width: 100%;
    }
    .s-i-1{
        margin-right: 0;
    }
    .s-i-2{
        margin-left: 0;
    }
    /*Kalkulátor*/
    .price-calc{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .price-calc-inner{
        display: flex;
        flex-direction: column;
    }
    .price-calc-inner div {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    .price-calc li{
        margin: 10px 0;
        text-align: left;
    }
    .dropdown div{
        width: 90%;
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }
    .dropdown span{
        width: 100%;
        text-align: center;
    }
    .price-calc-input{
        padding-top: 25px;
    }
    .price-calc-input div{
        width: 90%;
        display: flex;
        margin: 0 auto;
    }

}
@media screen and (max-width: 485px){
    /*Navigace*/
    header{
        position: relative;
    }
    .nav-div{
        justify-content: center;
    }
    .nav-div ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /*Footer*/
    .footer-main{
        height: fit-content;
        width: 100%;
        
    }
    .footer-inner div{
        height: fit-content;
        text-align: center;
        justify-content: center;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
    .footer-inner ul{
        display: none;
        border: none;
    }

    /*Fotogalerie*/
}
@media screen and (max-width: 400px) {
    .main-info-inner {
        padding: 25px 0;
    }
    .price-calc-inner {
        padding: 25px 0;
    }

}